# Ignore pnpm store
.pnpm-store

# Node.js
node_modules/
dist/

# Logs
logs
*.log

.github

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

tmp/
temp/

.env
.env.*
!.env.example
*.pem
.secrets

# Mac system files
.DS_Store

db/migrations/*
service-account.json